
.footer {
    background-color: #333;
    color: #f2f2f2;
    font-family: 'Arial', sans-serif;
    padding: 20px 0; 
}


.footer-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px; 
}


.footer-section {
   
    flex: 1 1 280px; 
    

    margin: 10px; 
    text-align: center; 

}

.footer-section.about p {
    line-height: 1.6;
    margin: 15px;
}
 
.footer-section.links ul {
    list-style: none;
    padding: 0;
    margin: 15px;
}

.footer-section.links a {
    color: #f2f2f2;
    text-decoration: none;
    line-height: 2;
    transition: color 0.3s ease;
   
}
.footer-section.links a:hover  {
    color: #ddca1d;
}

.social-icons {

    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    color: #f2f2f2;
    margin: 0 10px; 
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}