@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

background-color: #ffffff;





}

 html, body, #root {                                                                                                                                                                                                            
   height: 100%;                                                                                                                                                                                                                
 }                                                                                                                                                                                                                              
                                                                                                                                                                                                                                
 #root {                                                                                                                                                                                                                        
     display: flex;                                                                                                                                                                                                               
   flex-direction: column;                                                                                                                                                                                                      
 }  

 body{
  background-image:  linear-gradient(rgba(175, 175, 175, 0.774), rgba(27, 26, 26, 0.5)),url("../public/pop.jpg");
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center center;
  height:auto;
  
 }