@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

background-color: #ffffff;




}

 html, body, #root {                                                                                                                                                                                                            
   height: 100%;                                                                                                                                                                                                                
 }                                                                                                                                                                                                                              
                                                                                                                                                                                                                                
 #root {                                                                                                                                                                                                                        
     display: flex;                                                                                                                                                                                                               
   flex-direction: column;                                                                                                                                                                                                      
 }  